doctype html
html(lang='en')
    head
        title Argon2 hash generator
        include includes/metas
        include includes/styles
    body(class='bg-light')
        div(class='container-fluid')
            //- Header
            div(class='row justify-content-center')
                div(class='col-auto')
                    h1(class='text-info mt-4 mb-4') Argon2 Hash test

            div(class='row justify-content-center')
                div(class='col-auto')
                    h3(class='text-info mt-4 mb-4') Generate
            
            //- Form to generate Hash
            div(class='row justify-content-md-center')
                div(class='col-auto')
                //- use default form
                if( !hash )
                    include parts/form_base
                    
                //- use form with retained data
                if( hash )
                    include parts/form_hashed
                    
                        //- Show results
                    include parts/results_generate.pug
                    div(class='row mt-2')
                        div(class='col-auto')
                            ul(class='list-group shadow')
                                li(class='list-group-item' ) Full Hash &nbsp;
                                    span(class='badge badge-info') #{fullHash}
            
            div(class='row justify-content-center')
                div(class='col-auto')
                    h3(class='text-info mt-4 mb-4') Verify
            
            div(class='row')
                div(class='col')
                    include parts/form_verify